.DS_Store
node_modules
out/
logs/
run/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
pnpm-lock.yaml
go/logging.log
frontend/build/
go/core.exe
go/go.sum
go/tmp/
*.DS_Store
gotest/go.sum
gotest/hello
frontend/dist
lang.py
